@import "theme";

// Layout ----------------------------------------------------------------
html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

p.header-info {
  margin-bottom: 2px;
  padding-bottom: 30px;
}

// Layout ----------------------------------------------------------------
.mainLayout, #navigation div.nav-wrapper, div.container {
  max-width: 1024px;
  width: 1024px;
  margin: auto;
}

// Header style ----------------------------------------------------------
#header {
  padding: 25px 0px 35px 0px;
  box-shadow: 0px 3px 6px -3px #BDBDBD;
}

#header div.container {
}

// Main style ------------------------------------------------------------
#mainDiv {
  margin-top: 3px;
  min-height: 300px;
  border-top: thick #424242;
  border-width: medium;
}

#mainDiv div.container {
  padding-top: 20px
}

#mainDiv div.codelab-input-field {
  margin-top: 0px;
}

// Custom tab ------------------------------------------------------------
#tutorialTab.tabs .indicator {
  background-color: #26a69a;
}

#tutorialTab.tabs .tab a {
  padding: 0 0 0 0;
  color: #424242;
  font-weight: bolder;
}

#tutorialDiv.row {
  margin-bottom: 0px;
}

// Place holder color ----------------------------------------------------
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #757575;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #757575;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #757575;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #757575;
}
