@import "theme";

// Layout ----------------------------------------------------------------
html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  color: #555555;
}

p.header-info {
  margin-bottom: 2px;
  padding-bottom: 30px;
}
h3.header-title{
  margin-top: 0px;
}

// Layout ----------------------------------------------------------------
.mainLayout, #navigation div.nav-wrapper, div.container {
  max-width: 1024px;
  width: 1024px;
  margin: auto;
}

// Header style ----------------------------------------------------------
#header {
  padding-top: 30px;
  padding-bottom: 30px;
}

// Main style ------------------------------------------------------------
#mainDiv {
  min-height: 300px;
  margin-top: 1px;
}

#mainDiv div.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

#mainDiv div.codelab-input-field {
  margin-top: 0px;
}

// Custom tab ------------------------------------------------------------
#tutorialTab.tabs .indicator {
  background-color: #26a69a;
}

#tutorialTab.tabs .tab a {
  padding: 0 0 0 0;
  color: #424242;
  font-weight: bolder;
}

#tutorialDiv.row {
  margin-bottom: 0px;
}
.tutorialRows{
  margin-bottom: 0px;
}

// Tutorial Detail stype -------------------------------------------------
.tutorialDetail p,
.tutorialDetail span,
.tutorialDetail a{
  color: #555555;
}
.tutorialDetail p{
  text-align: justify;
}
.tutorialDetail .card .card-content {
  padding: 20px;
}
.tutorialDetail .card-content{
  height: 80px;
}
.tutorialDetail .card-action{
  min-height: 55px;
}
.tutorialDetail .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
  margin-right: 0px;
}
//   Tutorial header
.tutorialDetail .card-header{
  height: 40px;
  padding-top: 8px;
  padding-right: 20px;
}
// Place holder color ----------------------------------------------------
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #757575;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #757575;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #757575;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #757575;
}

.card-header-Login {
  background-color: #00b0ff;
  h4 {
    color: #FFF;
    padding: 24px;
  }
}

//react-multistep
ol.progtrckr {
  margin: 0;
  padding-bottom: 2.2rem;
  list-style-type: none;
}
ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 4.5rem;
  padding: 0 0.7rem;
  cursor: pointer;
}
ol.progtrckr li span {
  padding: 0 1.5rem;
}
@media (max-width: 650px) {
  .progtrckr li span {
    display: none;
  }
}
.progtrckr em {
  display: none;
  font-weight: 700;
  padding-left: 1rem;
}
@media (max-width: 650px) {
  .progtrckr em {
    display: inline;
  }
}

ol.progtrckr li.progtrckr-todo {
  color: silver;
  border-bottom: 4px solid silver;
}
ol.progtrckr li.progtrckr-doing {
  color: black;
  border-bottom: 4px solid #33C3F0;
}
ol.progtrckr li.progtrckr-done {
  color: black;
  border-bottom: 4px solid #33C3F0;
}
ol.progtrckr li:after {
  content: "\00a0\00a0";
}
ol.progtrckr li:before {
  position: relative;
  bottom: -3.7rem;
  float: left;
  left: 50%;
}
ol.progtrckr li.progtrckr-todo:before {
  content: "\039F";
  color: silver;
  background-color: white;
  width: 1.2em;
  line-height: 1.4em;
}
ol.progtrckr li.progtrckr-todo:hover:before {
  color: #0FA0CE;
}

ol.progtrckr li.progtrckr-doing:before {
  content: "\2022";
  color: white;
  background-color: #33C3F0;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-doing:hover:before {
  color: #0FA0CE;
}

ol.progtrckr li.progtrckr-done:before {
  content: "\2713";
  color: white;
  background-color: #33C3F0;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-done:hover:before {
  color: #0FA0CE;
}
